:root {
  --color1: #010419;
  --color2: #16192d;
  --color3: #2b2e42;
  --color4: #3f4256;
  --color5: #54576a;
  --color6: #e1e2e3;
  --font:
}


body {
  font-family: Arial, sans-serif;
  background: var(--color1);
  color: var(--color6);
  text-align: center;
}

.container {
  margin-top: 50px;
}

input {
  padding: 10px;
  width: 250px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}